.item{
    width: 300px;
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display:flex;
    margin: 10px auto;
    justify-content: space-around ;
    background-color: beige;
    border-radius: 5px;
}
h4{
    margin: 16px 10px;
    font-size: 1rem;
}
p{
    margin-top: 13px;
}
form {
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
    width: 300px;
    margin: 16px auto;
    padding: 15px;
    border-radius: 5px;
    background: mintcream;
}
body{
    background-color: pink;
}

.age input{
    margin-left: 13px;
}
.email input{
    margin-left: 5px;
}

input{
    border-radius: 5px;
}